InventorySolution/packages/
InventorySolution/.vs/

InventorySolution/ModelLibrary/bin/
InventorySolution/ModelLibrary/obj/

InventorySolution/SqlLibrary/bin/
InventorySolution/SqlLibrary/bin/

InventorySolution/WinFormUI/bin/
InventorySolution/WinFormUI/obj/

InventorySolution/WinFormsUI.Test1/bin/
InventorySolution/WinFormsUI.Test1/obj/

Img/

InventorySolution/WinFormUI/App.config/